#block_1 {background-image: url(Block/img/block_1.jpg)}
#block_2 {background-image: url(Block/img/block_2.jpg)}
#block_3 {background-image: url(Block/img/block_3.jpg)}
#block_4 {background-image: url(Block/img/block_4.jpg)}
#block_5 {background-image: url(Block/img/block_5.jpg)}
#block_6 {background-image: url(Block/img/block_6.jpg)}
#block_7 {background-image: url(Block/img/block_7.jpg)}
#block_8 {background-image: url(Block/img/block_8.jpg)}
#block_9 {background-image: url(Block/img/block_9.jpg)}

.block {
    width: 300px;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;

    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.block, .from, .to {
    display: flex;
}

.from, .to {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.fromDay, .toDay, .imageUpload {
    font-size: 17px;
}

.imageUpload {
    margin-bottom: 15px;
}

.to {
    margin-bottom: 30px;
}

.from {
    margin-bottom: 20px;
}

.fromLikes p, .toLikes p {
    width: 21px;
    height: 19px;
    background-image: url(Block/img/like.png);
    margin-right: 7px;
}

.fromComments p, .toComments p {
    width: 17px;
    height: 17px;
    background-image: url(Block/img/comment.png);
    margin-right: 7px;
}

.fromLikes, .toLikes, .fromComments, .toComments {
    display: flex;
    font-weight: bold;
}